<configuration>

  <property>
    <name>mapred.job.tracker</name>
    <value>10.0.0.71:{{ hadoop['mapred_job_tracker_port'] }}</value>
  </property>

  <property>
    <name>mapred.local.dir</name>
    <value>/jobdir/,</value>
  </property>
  
  <property>
    <name>mapred.task.tracker.http.address</name>
    <value>10.0.0.71:50060</value>
  </property>
  <property>
    <name>mapred.job.tracker.http.address</name>
    <value>10.0.0.71:50030</value>
  </property>

</configuration>
